<ion-header>
  <ion-toolbar>
    <ion-title>{{ "language" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding modalContent">
  <ion-list lines="none">
    <ion-item color="light" class="ion-margin-bottom">
      <ion-label position="stacked">{{ "Title" | translate }}</ion-label>
      <ion-input color="dark" placeholder="{{ 'insertTitle' | translate }}">
      </ion-input>
    </ion-item>

    <ion-item color="light" class="ion-margin-bottom">
      <ion-select
        mode="ios"
        color="light"
        interface="action-sheet"
        placeholder="{{ 'insertLangDegree' | translate }}"
      >
        <ion-select-option color="light" value="iniciante">
          Iniciante
        </ion-select-option>
        <ion-select-option color="light" value="intermedio">
          Intermédio
        </ion-select-option>
        <ion-select-option color="light" value="avancado">
          Avançado
        </ion-select-option>
        <ion-select-option color="light" value="linguaMaterna">
          Lingua Materna
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" color="success">
      <ion-icon name="save"></ion-icon>
    </ion-button>
  </ion-list>
</ion-content>
