<ion-header>
  <ion-toolbar>
    <ion-title>{{ "academicSkills" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding modalContent">
  <ion-item color="light" class="textoModal">
    <ion-label>
      <h1 class="ion-text-center">{{ item.titulo }}</h1>
      <h4 class="ion-text-wrap ion-text-justify">{{ item.desc }}</h4>
      <p class="ion-text-right" *ngIf="item.nivel > 0; else showWithout">
        {{ "nivel" | translate }}: {{ item.nivel }}
      </p>
      <ng-template #showWithout>
        <p class="ion-text-right">{{ "nivel" | translate }}: Sem Nivel</p>
      </ng-template>
    </ion-label>
  </ion-item>
  <ion-list lines="none">
    <form (ngSubmit)="updateHabAc()">
      <ion-item color="light" class="ion-margin-bottom">
        <ion-label position="stacked">{{ "Title" | translate }}</ion-label>
        <ion-input
          [(ngModel)]="titleInput"
          name="titulo"
          [clearInput]="true"
          color="dark"
        >
        </ion-input>
      </ion-item>
      <ion-item color="light" class="ion-margin-bottom">
        <ion-label position="stacked">{{ "nivel" | translate }}</ion-label>
        <ion-input
          [(ngModel)]="nivelInput"
          name="nivel"
          type="number"
          [clearInput]="true"
          color="dark"
        >
        </ion-input>
      </ion-item>
      <ion-item color="light" class="ion-margin-bottom">
        <ion-label position="stacked">
          {{ "Description" | translate }}
        </ion-label>
        <ion-textarea
          [autoGrow]="true"
          [(ngModel)]="descInput"
          name="desc"
          color="dark"
        >
        </ion-textarea>
      </ion-item>
      <ion-item color="light" class="ion-margin-bottom">
        <ion-label>{{ "hidden" | translate }}</ion-label>
        <ion-toggle [(ngModel)]="toggleInput" name="toggle" slot="end">
        </ion-toggle>
      </ion-item>
      <ion-button type="submit" expand="block" color="success">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </form>
  </ion-list>
</ion-content>
