<ion-header class="ion-no-border" [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="changeDarkMode()">
        <ion-icon color="dark" [name]="getIcon()"></ion-icon>
      </ion-button>
      <ion-button color="dark" (click)="changeLanguage('en')">
        {{ "en" | translate }}
      </ion-button>
      <ion-button color="dark" (click)="changeLanguage('pt')">
        {{ "pt" | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title color="dark"> {{ "Home" | translate }} </ion-title>
  </ion-toolbar>
</ion-header>
