<ion-header class="ion-no-border" [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleTheme($event)"
        ><ion-icon color="dark" [name]="darkModeIcon"></ion-icon
      ></ion-button>
      <ion-button color="dark" (click)="changeLanguage('en')">
        {{'en' | translate }}
      </ion-button>
      <ion-button color="dark" (click)="changeLanguage('pt')">
        {{'pt' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title color="dark"> {{'Home' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="myInfo">
    <img src="../../assets/eu.png" alt="Ricardo Lima" />
    <h1 class="myInfoName">Ricardo Lima</h1>
    <p class="myInfoDesc">{{'student' | translate}}</p>
  </div>
  <div class="contactButtons">
    <ion-button color="light" shape="round" href="tel:961746212">
      <ion-icon size="large" color="dark" name="call"></ion-icon>
    </ion-button>
    <ion-button color="light" shape="round" href="mailto:ric.lima1@hotmail.com">
      <ion-icon size="large" color="dark" name="mail"></ion-icon>
    </ion-button>
    <ion-button
      color="light"
      shape="round"
      href="https://www.linkedin.com/in/ricardo-lima-635642183/"
    >
      <ion-icon size="large" color="dark" name="logo-linkedin"></ion-icon>
    </ion-button>
    <ion-button color="light" shape="round" href="https://wa.me/961746212">
      <ion-icon size="large" color="dark" name="logo-whatsapp"></ion-icon>
    </ion-button>
  </div>
  <section class="contactos">
    <ion-text color="dark">
      <h1 class="sectionTitle">{{'contactTitle' | translate}}</h1>
    </ion-text>
    <ion-list lines="none">
      <ion-item color="light">
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-label>{{'phone' | translate}}: 961746212</ion-label>
      </ion-item>
      <ion-item color="light">
        <ion-icon name="logo-github" slot="start"></ion-icon>
        <ion-label>https://github.com/riclima4</ion-label>
      </ion-item>
      <ion-item color="light">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>ric.lima1@hotmail.com</ion-label>
      </ion-item>
    </ion-list>
    <ion-text color="dark">
      <h3 class="contactosDesc">{{'contactDesc' | translate}}</h3>
    </ion-text>
    <ion-button
      href="#/aboutme"
      class="sabeMaisbtn"
      size="large"
      color="primary"
    >
      {{'knowMorebtn' | translate}}
    </ion-button>
  </section>
  <section class="contactForm">
    <ion-text color="dark">
      <h1 class="sectionTitle">{{'talktome' | translate}}</h1>
    </ion-text>
    <form class="formulario">
      <ion-list lines="none">
        <ion-item color="light">
          <ion-label position="fixed">{{'Name' | translate}}</ion-label>
          <ion-input
            type="text"
            placeholder="{{'namePlaceholder' | translate}}"
          ></ion-input>
        </ion-item>

        <ion-item color="light">
          <ion-label position="fixed">Email</ion-label>
          <ion-input
            type="email"
            placeholder="{{'emailPlaceholder' | translate}}"
            email
          ></ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-label position="fixed">{{'message' | translate}}</ion-label>
          <ion-textarea
            rows="5"
            autoGrow
            type="text"
            placeholder="{{'messagePlaceholder' | translate}}"
          ></ion-textarea>
        </ion-item>
      </ion-list>
      <ion-button type="reset" color="primary"
        >{{'send' | translate}}
      </ion-button>
    </form>
  </section>
</ion-content>
