<ion-header>
  <ion-toolbar>
    <ion-title>{{ "projects" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding modalContent">
  <ion-item color="light" class="textoModal ion-margin-bottom">
    <ion-label>
      <h1 class="ion-text-center">{{ item.titulo }}</h1>
      <h4 class="ion-text-wrap ion-text-justify">
        {{ "Description" | translate }}: {{ item.desc }}
      </h4>
    </ion-label>
  </ion-item>
  <form (ngSubmit)="updateProject()">
    <ion-list lines="none">
      <ion-item color="light" class="ion-margin-bottom">
        <ion-label position="stacked">{{ "Title" | translate }}</ion-label>
        <ion-input
          [(ngModel)]="titleInput"
          name="titulo"
          [clearInput]="true"
          color="dark"
        >
        </ion-input>
      </ion-item>
      <ion-item color="light" class="ion-margin-bottom">
        <ion-label position="stacked">
          {{ "Description" | translate }}
        </ion-label>
        <ion-textarea
          [autoGrow]="true"
          [(ngModel)]="descInput"
          name="description"
          color="dark"
        >
        </ion-textarea>
      </ion-item>
      <ion-item color="light" class="ion-margin-bottom">
        <ion-label>{{ "hidden" | translate }}</ion-label>
        <ion-toggle
          [(ngModel)]="toggleInput"
          name="hidden"
          slot="end"
        ></ion-toggle>
      </ion-item>
      <ion-button type="submit" expand="block" color="success">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-list>
  </form>
</ion-content>
