<app-navbar [isChecked]="isChecked"></app-navbar>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="welcomeSection">
    <img src="../../assets/eu.png" alt="Ricardo Lima" />
    <ion-text color="dark"><h2>{{'welcome' | translate}} Ricardo</h2></ion-text>
  </div>
  <div class="settingsButtons">
    <ion-segment
      [(ngModel)]="selectedSegment"
      (ionChange)="segmentChanged($event)"
    >
      <ion-segment-button value="habAc">
        <ion-label>
          <small>{{'academic' | translate}}</small>
        </ion-label>
        <ion-icon name="clipboard"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="habPr">
        <ion-label><small>{{'professional' | translate}}</small></ion-label>
        <ion-icon name="person-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="skills">
        <ion-label><small>{{'skills' | translate}}</small></ion-label>
        <ion-icon name="infinite"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="projetos">
        <ion-label><small>{{'projects' | translate}}</small></ion-label>
        <ion-icon name="images"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="habContent">
    <!-- Hab Académicas -->
    <div class="habAc" *ngIf="selectedSegment== 'habAc'">
      <div class="titleRow">
        <ion-text color="dark">
          <h4>{{'academicSkills' | translate}}</h4>
        </ion-text>
        <ion-button fill="clear" (click)="openModalCreateHabAc()">
          <ion-icon color="dark" size="large" name="add-circle"></ion-icon>
        </ion-button>
      </div>
      <ion-list lines="none">
        <ion-item color="light" *ngFor="let item of habAc">
          <ion-label>
            <h2>{{item.titulo}}</h2>
            <ion-text color="medium">
              <h4>
                Visibilidade:
                <span *ngIf="item.hidden">Escondido</span>
                <span *ngIf="!item.hidden">Visível</span>
              </h4>
            </ion-text>
          </ion-label>
          <ion-button
            fill="clear"
            slot="end"
            (click)="openModalAcademicSettings(item)"
          >
            <ion-icon color="dark" name="chevron-forward"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      <ion-text class="counterList" color="medium">
        <small>{{habAc.length}} {{'skills' | translate}}</small>
      </ion-text>
      <!-- Idiomas -->
      <div class="titleRow">
        <ion-text color="dark"><h4>{{'language' | translate}}</h4></ion-text>
        <ion-button fill="clear" (click)="openModalCreateLang()">
          <ion-icon color="dark" size="large" name="add-circle"></ion-icon>
        </ion-button>
      </div>
      <ion-list lines="none">
        <ion-item-sliding *ngFor="let item of idiomas">
          <ion-item button color="light">
            <ion-label>{{item.idioma}}</ion-label>
            <ion-text>{{item.nivel}}</ion-text>
          </ion-item>

          <ion-item-options side="start">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ion-text class="counterList" color="medium">
        <small>{{idiomas.length}} {{'languages' | translate}}</small>
      </ion-text>
    </div>
    <!-- Hab Profissionais -->
    <div class="habPr" *ngIf="selectedSegment== 'habPr'">
      <div class="titleRow">
        <ion-text color="dark"
          ><h4>{{'professionalSkills' | translate}}</h4></ion-text
        >
        <ion-button fill="clear" (click)="openModalCreateHabPr()">
          <ion-icon color="dark" size="large" name="add-circle"></ion-icon>
        </ion-button>
      </div>
      <ion-list lines="none">
        <ion-item-sliding *ngFor="let item of habPr">
          <ion-item-options side="end">
            <ion-item-option
              (click)="openModalProfessionalSettings(item)"
              color="primary"
            >
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-item-option>
            <ion-item-option
              (click)="deleteHabPrActionSheet(item.id)"
              color="danger"
            >
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item button color="light">
            <ion-label>
              <h2>{{item.titulo}}</h2>
              <ion-text color="medium">
                <h4>
                  Visibilidade:
                  <span *ngIf="item.hidden">Escondido</span>
                  <span *ngIf="!item.hidden">Visível</span>
                </h4>
              </ion-text>
            </ion-label>
            <ion-icon slot="end" color="dark" name="chevron-forward"></ion-icon>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
      <ion-text class="counterList" color="medium">
        <small>{{habPr.length}} {{'skills' | translate}}</small>
      </ion-text>
    </div>
    <!-- Skills Profissionais -->
    <div class="skills" *ngIf="selectedSegment== 'skills'">
      <div class="titleRow">
        <ion-text color="dark">
          <h4>{{'personalSkills' | translate}}</h4>
        </ion-text>
        <ion-button fill="clear" (click)="openModalCreateSkills()">
          <ion-icon color="dark" size="large" name="add-circle"></ion-icon>
        </ion-button>
      </div>
      <ion-list lines="none">
        <ion-item-sliding *ngFor="let item of programmingLang">
          <ion-item-options side="end">
            <ion-item-option
              (click)="openModalSkillSettings(item)"
              color="primary"
            >
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-item-option>
            <ion-item-option
              (click)="deleteSkillActionSheet(item.id)"
              color="danger"
            >
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>

          <ion-item button color="light">
            <ion-thumbnail slot="start">
              <img alt="skillImg" src="../../assets/projetos/default.png" />
            </ion-thumbnail>
            <ion-label>{{item.nome}}</ion-label>
            <ion-icon slot="end" name="arrow-back"></ion-icon>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </div>
    <!-- Projetos -->
    <div class="projetos" *ngIf="selectedSegment== 'projetos'">
      <div class="titleRow">
        <ion-text color="dark">
          <h4>{{'developedProjects' | translate}}</h4>
        </ion-text>
        <ion-button fill="clear" (click)="openModalCreateProjects()">
          <ion-icon color="dark" size="large" name="add-circle"></ion-icon>
        </ion-button>
      </div>
      <ion-list lines="none">
        <ion-item-sliding *ngFor="let item of projetos">
          <ion-item-options side="end">
            <ion-item-option
              (click)="openModalProjectSettings(item)"
              color="primary"
            >
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-item-option>
            <ion-item-option
              (click)="deleteProjectActionSheet(item.id)"
              color="danger"
            >
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>

          <ion-item button color="light">
            <ion-thumbnail slot="start">
              <img alt="skillImg" src="../../assets/projetos/default.png" />
            </ion-thumbnail>
            <ion-label>{{item.titulo}}</ion-label>
            <ion-icon slot="end" name="arrow-back"></ion-icon>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
</ion-content>
