<ion-header>
  <ion-toolbar>
    <ion-title>{{ "skills" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding modalContent">
  <ion-item color="light" class="textoModal ion-margin-bottom">
    <ion-thumbnail slot="start">
      <img alt="skillImg" src="../../assets/projetos/default.png" />
    </ion-thumbnail>
    <ion-label>
      <h1 class="ion-text-left">{{ item.nome }}</h1>
    </ion-label>
  </ion-item>
  <form (ngSubmit)="updateSkill()">
    <ion-list lines="none">
      <ion-item color="light" class="ion-margin-bottom">
        <ion-label position="stacked">{{ "name" | translate }}</ion-label>
        <ion-input
          [(ngModel)]="nomeInput"
          name="titulo"
          value="{{ item.titulo }}"
          [clearInput]="true"
          color="dark"
        >
        </ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" color="success">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-list>
  </form>
</ion-content>
