<ion-header>
  <ion-toolbar>
    <ion-title>{{ "professionalSkills" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding modalContent">
  <form (ngSubmit)="newHabPr()">
    <ion-list lines="none">
      <ion-item color="light" class="ion-margin-bottom">
        <ion-label position="stacked">{{ "Title" | translate }}</ion-label>
        <ion-input
          [(ngModel)]="titleInput"
          name="titulo"
          color="dark"
          placeholder="{{ 'insertTitle' | translate }}"
        >
        </ion-input>
      </ion-item>
      <ion-item color="light" class="ion-margin-bottom">
        <ion-label position="stacked">{{ "years" | translate }}</ion-label>
        <ion-input
          [(ngModel)]="tempoInput"
          name="tempo"
          type="number"
          color="dark"
          placeholder="{{ 'insertYears' | translate }}"
        >
        </ion-input>
      </ion-item>
      <ion-item color="light" class="ion-margin-bottom">
        <ion-label position="stacked">{{
          "Description" | translate
        }}</ion-label>
        <ion-textarea
          [(ngModel)]="descInput"
          [autoGrow]="true"
          name="desc"
          color="dark"
          placeholder="{{ 'insertDesc' | translate }}"
        >
        </ion-textarea>
      </ion-item>
      <ion-item color="light" class="ion-margin-bottom">
        <ion-label>{{ "hidden" | translate }}</ion-label>
        <ion-toggle [(ngModel)]="toggleInput" name="toggle" slot="end">
        </ion-toggle>
      </ion-item>
      <ion-button type="submit" expand="block" color="success">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-list>
  </form>
</ion-content>
