<ion-header class="ion-no-border" [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleTheme($event)"
        ><ion-icon color="dark" [name]="darkModeIcon"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title color="dark"> Definições </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text class="loginTitle" color="dark"><h1>LOGIN</h1></ion-text>
  <div class="loginFormContent">
    <ion-icon
      class="loginIcon"
      color="dark"
      name="person-circle-outline"
    ></ion-icon>
    <ion-item color="light" class="formRow">
      <ion-label position="floating">Utilizador</ion-label>
      <ion-input
        type="text"
        placeholder="Inserir nome de utilizador"
      ></ion-input>
    </ion-item>
    <ion-item color="light" class="formRow">
      <ion-label position="floating">Password</ion-label>
      <ion-input
        [type]="passwordType"
        placeholder="Insere a password"
      ></ion-input>
      <ion-icon
        slot="end"
        [name]="passwordIcon"
        (click)="hideShowPassword()"
      ></ion-icon>
    </ion-item>
    <ion-button expand="block">LOGIN</ion-button>
  </div>
</ion-content>
