.loginTitle {
  text-align: center;
  font-weight: bold;
}
.loginFormContent {
  background-color: var(--ion-color-light);
  border-radius: 40px;
  padding: 40px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.loginIcon {
  font-size: 200px;
}
.formRow {
  align-items: center;
}
.loginFormContent ion-item {
  margin-bottom: 10px;
}
.loginFormContent > ion-button {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

.show-option,
.hide-option {
  display: block;
}
@media screen and (max-width: 992px) {
  .loginFormContent {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .loginFormContent {
    width: 100%;
  }
}
