<app-navbar [isChecked]="isChecked"></app-navbar>

<ion-content [fullscreen]="true">
  <ion-text class="loginTitle" color="dark"><h1>LOGIN</h1></ion-text>
  <div class="loginFormContent">
    <ion-icon
      class="loginIcon"
      color="dark"
      name="person-circle-outline"
    ></ion-icon>
    <ion-item color="light" class="formRow">
      <ion-label position="floating">{{'user' | translate}}</ion-label>
      <ion-input
        type="text"
        placeholder="{{'insertUsername' | translate}}"
      ></ion-input>
    </ion-item>
    <ion-item color="light" class="formRow">
      <ion-label position="floating">Password</ion-label>
      <ion-input
        [type]="passwordType"
        placeholder="{{'insertPassword' | translate}}"
      ></ion-input>
      <ion-icon
        slot="end"
        [name]="passwordIcon"
        (click)="hideShowPassword()"
      ></ion-icon>
    </ion-item>
    <ion-button expand="block">{{'login' | translate}}</ion-button>
  </div>
</ion-content>
