<ion-header>
  <ion-toolbar>
    <ion-title>{{ "skills" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding modalContent">
  <form (ngSubmit)="updateIdioma()">
    <ion-list lines="none">
      <ion-item color="light" class="ion-margin-bottom">
        <ion-label position="stacked">{{ "language" | translate }}</ion-label>
        <ion-input
          [(ngModel)]="idiomaInput"
          name="idioma"
          [clearInput]="true"
          color="dark"
        >
        </ion-input>
      </ion-item>
      <ion-item color="light" class="ion-margin-bottom">
        <ion-label position="stacked">{{ "nivel" | translate }}</ion-label>
        <ion-select
          [(ngModel)]="nivelInput"
          name="nivel"
          mode="ios"
          color="light"
          interface="action-sheet"
          placeholder="{{ item.nivel }}"
        >
          <ion-select-option color="light" value="Iniciante">
            Iniciante
          </ion-select-option>
          <ion-select-option color="light" value="Intermedio">
            Intermédio
          </ion-select-option>
          <ion-select-option color="light" value="Avançado">
            Avançado
          </ion-select-option>
          <ion-select-option color="light" value="Lingua Materna">
            Lingua Materna
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button type="submit" expand="block" color="success">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-list>
  </form>
</ion-content>
