<ion-header class="ion-no-border" [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleTheme($event)">
        <ion-icon color="dark" [name]="darkModeIcon"></ion-icon>
      </ion-button>
      <ion-button color="dark" (click)="changeLanguage('en')">
        {{'en' | translate }}
      </ion-button>
      <ion-button color="dark" (click)="changeLanguage('pt')">
        {{'pt' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title color="dark"> {{'aboutme' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="myInfo">
    <div class="myInfoContent">
      <img src="../../assets/eu.png" alt="Ricardo Lima" />
      <div class="myInfoContentText">
        <ion-text color="dark">
          <h1>Ricardo Lima</h1>
          <h4>{{'abouteMeText' | translate}}</h4>
        </ion-text>
      </div>
    </div>
  </div>
  <div class="contactButtons">
    <ion-button
      color="light"
      shape="round"
      href="https://www.facebook.com/ricardo.lima.77377/"
    >
      <ion-icon size="large" color="dark" name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button color="light" shape="round" href="https://github.com/riclima4">
      <ion-icon size="large" color="dark" name="logo-github"></ion-icon>
    </ion-button>
    <ion-button
      color="light"
      shape="round"
      href="https://www.linkedin.com/in/ricardo-lima-635642183/"
    >
      <ion-icon size="large" color="dark" name="logo-linkedin"></ion-icon>
    </ion-button>
    <ion-button color="light" shape="round" href="https://wa.me/961746212">
      <ion-icon size="large" color="dark" name="logo-whatsapp"></ion-icon>
    </ion-button>
  </div>
  <div class="aboutContent">
    <div class="habilitacoes">
      <ion-text color="dark">
        <h1 class="sectionTitle">{{'skills' | translate}}</h1>
      </ion-text>
      <div class="haRow">
        <ion-text color="dark"
          ><h4>{{'academicSkills' | translate}}</h4></ion-text
        >
        <ion-button fill="outline" size="small">
          {{'knowMorebtn' | translate}}
        </ion-button>
      </div>
      <ion-text color="dark">
        <ul class="haList">
          <li>Curso Profissional de Informática</li>

          <li>CTeSP Desenvolvimento Web e Multimédia</li>
        </ul>
      </ion-text>
      <div class="hpRow">
        <ion-text color="dark"
          ><h4>{{'professionalSkills' | translate}}</h4></ion-text
        >
        <ion-button fill="outline" size="small">
          {{'knowMorebtn' | translate}}
        </ion-button>
      </div>
      <ion-text color="dark">
        <ul class="hpList">
          <li>Técnico de informática - 5 anos</li>
          <li>Estágio curricular Inforviana - 1 ano</li>
        </ul>
      </ion-text>
      <div class="iRow">
        <ion-text color="dark"><h4>{{'language' | translate}}</h4></ion-text>
      </div>
      <ion-text color="dark">
        <ul class="iList">
          <li>Português - Lingua materna</li>
          <li>Inglês - nivel avançado</li>
          <li>Espanhol - nivel intermédio</li>
        </ul>
      </ion-text>
    </div>

    <div class="myProjects">
      <ion-text color="dark">
        <h1 class="sectionTitle">{{'projects' | translate}}</h1>
      </ion-text>
      <ion-list lines="full">
        <ion-item color="light">
          <ion-avatar slot="start">
            <img
              alt="Silhouette of a person's head"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
          </ion-avatar>
          <ion-label>Projeto 1</ion-label
          ><ion-button slot="end"><ion-icon name="eye"></ion-icon></ion-button>
        </ion-item>
        <ion-item color="light">
          <ion-avatar slot="start">
            <img
              alt="Silhouette of a person's head"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
          </ion-avatar>
          <ion-label>Projeto 2</ion-label
          ><ion-button slot="end"><ion-icon name="eye"></ion-icon> </ion-button>
        </ion-item>
        <ion-item color="light">
          <ion-avatar slot="start">
            <img
              alt="Silhouette of a person's head"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
          </ion-avatar>
          <ion-label>Projeto 3</ion-label>
          <ion-button slot="end"> <ion-icon name="eye"></ion-icon> </ion-button>
        </ion-item>
      </ion-list>
    </div>
    <ion-text color="dark">
      <h1 class="sectionTitle">{{'programmingLang' | translate}}</h1>
    </ion-text>
    <div class="mySkills">
      <ion-card>
        <img
          src="../../assets/skills/HTML.png"
          class="logoSize"
          alt="skillImg"
        />
        <ion-card-header>
          <ion-card-title color="dark">HTML</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img
          src="../../assets/skills/css.png"
          class="logoSize"
          alt="skillImg"
        />
        <ion-card-header>
          <ion-card-title color="dark">CSS</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img
          src="../../assets/skills/javascript.png"
          class="logoSize"
          alt="skillImg"
        />
        <ion-card-header>
          <ion-card-title color="dark">Javascript</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img
          src="../../assets/skills/React.png"
          class="logoSize"
          alt="skillImg"
        />
        <ion-card-header>
          <ion-card-title color="dark">React</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img
          src="../../assets/skills/ionic.png"
          class="logoSize"
          alt="skillImg"
        />
        <ion-card-header>
          <ion-card-title color="dark">Ionic</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img
          src="../../assets/skills/bootstrap.png"
          class="logoSize"
          alt="skillImg"
        />
        <ion-card-header>
          <ion-card-title color="dark">Bootstrap</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
