<app-navbar [isChecked]="isChecked"></app-navbar>

<ion-content [fullscreen]="true">
  <div class="myInfo">
    <div class="myInfoContent">
      <img src="../../assets/eu.png" alt="Ricardo Lima" />
      <div class="myInfoContentText">
        <ion-text color="dark">
          <h1>Ricardo Lima</h1>
          <h4>{{'abouteMeText' | translate}}</h4>
        </ion-text>
      </div>
    </div>
  </div>
  <div class="contactButtons">
    <ion-button
      color="light"
      shape="round"
      href="https://www.facebook.com/ricardo.lima.77377/"
    >
      <ion-icon size="large" color="dark" name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button color="light" shape="round" href="https://github.com/riclima4">
      <ion-icon size="large" color="dark" name="logo-github"></ion-icon>
    </ion-button>
    <ion-button
      color="light"
      shape="round"
      href="https://www.linkedin.com/in/ricardo-lima-635642183/"
    >
      <ion-icon size="large" color="dark" name="logo-linkedin"></ion-icon>
    </ion-button>
    <ion-button color="light" shape="round" href="https://wa.me/961746212">
      <ion-icon size="large" color="dark" name="logo-whatsapp"></ion-icon>
    </ion-button>
  </div>
  <div class="aboutContent">
    <div class="habilitacoes">
      <ion-text color="dark">
        <h1 class="sectionTitle">{{'skills' | translate}}</h1>
      </ion-text>
      <div class="haRow">
        <ion-text color="dark">
          <h4>{{'academicSkills' | translate}}</h4>
        </ion-text>
        <ion-button
          fill="outline"
          size="small"
          (click)="openModalAcademic(habAc)"
        >
          {{'knowMorebtn' | translate}}
        </ion-button>
      </div>
      <ion-text color="dark">
        <ul class="haList">
          <li *ngFor="let item of habAc">{{item.titulo}}</li>
        </ul>
      </ion-text>
      <div class="hpRow">
        <ion-text color="dark">
          <h4>{{'professionalSkills' | translate}}</h4>
        </ion-text>
        <ion-button fill="outline" size="small" (click)="openModalProf(habPr)">
          {{'knowMorebtn' | translate}}
        </ion-button>
      </div>
      <ion-text color="dark">
        <ul class="hpList">
          <li *ngFor="let item of habPr">
            {{item.titulo}}
            <span *ngIf="item.tempo > 0"> - {{item.tempo}} ano/s </span>
          </li>
        </ul>
      </ion-text>
      <div class="iRow">
        <ion-text color="dark"><h4>{{'language' | translate}}</h4></ion-text>
      </div>
      <ion-text color="dark">
        <ul class="iList">
          <li *ngFor="let item of idiomas">
            {{item.idioma}} - nivel: {{item.nivel}}
          </li>
        </ul>
      </ion-text>
    </div>
    <div class="myProjects">
      <ion-text color="dark">
        <h1 class="sectionTitle">{{'projects' | translate}}</h1>
      </ion-text>
      <ion-list lines="none" class="projectsList">
        <ion-item color="light" *ngFor="let item of projetos">
          <ion-avatar slot="start">
            <img
              alt="Silhouette of a person's head"
              src="../../assets/projetos/default.png"
            />
          </ion-avatar>
          <ion-label>{{item.titulo}}</ion-label>
          <ion-button slot="end" (click)="openModalProjeto(item)">
            <ion-icon name="eye"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
    <ion-text color="dark">
      <h1 class="sectionTitle">{{'programmingLang' | translate}}</h1>
    </ion-text>
    <div class="mySkills">
      <ion-card *ngFor="let item of programmingLang">
        <img
          *ngIf="item.image != null; else showImg"
          src="../../assets/projetos/default.png"
          class="logoSize"
          alt="skillImg"
        />
        <ng-template #showImg>
          <img src="{{item.image}}" class="logoSize" alt="skillImg" />
        </ng-template>
        <ion-card-header>
          <ion-card-title color="dark">{{item.nome}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
